:root {
  --title: linear-gradient(
    90deg,
    rgba(180, 142, 58, 1) 0%,
    rgb(81, 33, 11) 23%,
    rgba(89, 25, 25, 0.95) 33%,
    rgba(198, 166, 37, 1) 100%
  );
  --font-family: "Playpen Sans", cursive;
}
/*Learn how to create custom cursors by TylerPottsDev/yt-html-custom-cursors*/
html,
body {
  cursor: none;
}
body {
  background-image: url(/assets/imgs/pxfuel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.site-wide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(255, 200, 0);
}
.site-wide .pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #f31505;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}
.site-wide.active .pointer {
  width: 20px;
  height: 20px;
}

/* End of the change of cursor */

h1 {
  background: var(--title);
  color: whitesmoke;
  border: 3 solid black;
  padding-left: 5px;
  margin: auto;
  font-family: var(--font-family);
}

h2 {
  font-size: 18px;
}
aside {
  float: right;
}

aside.sidebar {
  width: 10%;
  height: 100vh;
  float: inline-end;
}
ul li a {
  display: flex;
  text-decoration: none;
  font-family: var(--font-family);
}
.grid-1 {
  grid-column: span 1 / span 1;
}
li:hover {
  color: var(--title);
  background-color: rgb(173, 120, 52);
}
.five {
  font-size: 45px;
  line-height: 64px;
  color: orangered;
  position: relative;
  text-shadow: #f31505;
  padding-right: 35%;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
section.Weather-content {
  width: 73%;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: 200px;
  padding: 1px 16px;
  font-family: var(--font-family);
  height: 1000px;
  text-align: center;
}

main {
  margin-top: 1em;
  margin-bottom: 1em;
}
footer {
  clear: both;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.6em;
  background: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  color: #aeb1b5;
  text-align: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  aside.sidebar {
    width: 20%;
    overflow: hidden;
  }
  section.Weather-content {
    width: 80%;
  }
}
